#glcanvas {
    float:left;
}

#console {
    float: left;
    border: solid 1px green;
    margin-left: 10px;
    padding: 5px;
}

#debugState {
		font-size: 11px;
}

#showFps {
		color: #0F0;
		float: left;
		font-weight:bold;
}

#buttons {
		padding-left:75px;
}

#menu {
		position:absolute;
		bottom:20px;
		right:20px;
		z-index:200;
}

#menuContainer {
		border:solid 2px rgba(255,255,255,0.75);
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 2px 2px 0 rgba(194,194,194, 0.2);
		box-shadow: 0 2px 2px 0 rgba(194,194,194, 0.2);
		background-color:rgba(255,255,255,0.05);

		color: rgba(255,255,255,0.50);
		font-family:helvetica;
		text-align:center;

		position:absolute;
		bottom:0px;
		right:0px;
		padding:5px;

		width:210px;
}

#menuContainer a{
		display:block;
		font-size:25px;
		color: rgba(255,255,255,0.50);
		text-decoration:none;
		padding:10px;
}

#menuContainer a.hide{
		display:none;
}

#menuContainer a:hover{
		color:rgba(255,255,255,1.0);
		font-size:26px;
}


.hide {
		display:none;
}

.fullWindow, #window:-webkit-full-screen{
		position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);

}


.fullWindow #glcanvas, #window:-webkit-full-screen #glcanvas{
		position:fixed;
    padding:0;
    margin:0;

    left:0;

    width: 100%;
    background:rgba(255,255,255,0.5);

}
